<ul class="main">
	<li><a href="{{ root_url }}/">Blog</a></li>
	<!--<li>-->
		<!--<a href="{{ root_url }}/blog/categories/%E4%B8%BB%E9%A1%8C/">主題</a>-->
		<!--<ul class="sub-menu">-->
			<!--<li><a href="{{ root_url }}/blog/2010/12/30/pixiv-custom/">Pixiv Custom</a></li>-->
			<!--<li><a href="{{ root_url }}/blog/2011/05/27/corner-theme/">Corner</a></li>-->
		<!--</ul>-->
	<!--</li>-->
    <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
	<li>
		<a>Poem</a>
		<ul class="sub-menu">
			<li><a href="{{ root_url }}/blog/2012/02/11/lu-wei-di-dai/">芦苇地带</a></li>
		</ul>
	</li>
     <li><a href="{{ root_url }}/about">About</a></li>
</ul>
